#override-bootstrap div {
    position: relative;
    background: none;
    border: none;
}

textarea,
input {
    border-radius: 4px;
}

#override-bootstrap {
    background: #FFFFFF;
    border: none;
}

#override-bootstrap button {
    border-radius: 4px;
    outline: none;
}

#override-bootstrap .row {
    margin-top: 0;
    margin-bottom: 0;
}

#override-bootstrap .centered {
    min-height: 70vh;
    width: auto;
    display: flex;
    align-items: center;
}

#login {
    width: 100%;
}


/* lgin-user */

#override-bootstrap .front {
    background: #99ccff;
    border-radius: 10px;
    border: 2px solid black;
}

.spacer {
    order: 2;
    flex-grow: 1;
}

.in-log {
    width: 100%;
}


/* lgin-npwd */

#override-bootstrap .create {
    margin: 5px;
    border-radius: 10px;
}

.create #skinny {
    margin-top: .5rem;
}


/* the error bar for the login page */

#override-bootstrap #err-login-bar {
    padding-left: 5px;
    padding-top: 5px;
    height: 3rem;
    color: red;
}


/* plan-wksl, plan-tlbr, plan-head */

#grocery-scheduler {
    height: 100vh;
}


/* plan-wksl, plan-tlbr */

#body {
    height: 99.5vh;
    margin: 2.5vh 2.5vw 2.5vh 2.5vw;
}


/* plan-wksl */

#override-bootstrap #wrapper {
    display: flex;
    padding: 1rem;
    border: 1px solid grey;
}


/* highlights the current day */

#override-bootstrap .today {
    background-color: #BBFEF8;
}


/* plan-wksl-02 */

#override-bootstrap .shopping {
    height: 100%;
    flex-grow: 1;
    flex-basis: 5rem;
    display: flex;
    flex-direction: column;
}

#override-bootstrap .shop-in {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border: 2px solid #686868;
}

#override-bootstrap .shop-el {
    text-align: center;
    background-color: #FFFFFF;
    transition: background-color .5s ease-in;
    display: table;
    height: 10%;
    width: 100%;
    flex-grow: 1;
    padding: 1rem;
    border: 1px solid #bdbdbd;
}

#override-bootstrap .chosen {
    background-color: #FFFF00;
    transition: background-color 0s;
}

#override-bootstrap .shop-el>div {
    font: Verdana;
    font-weight: bolder;
    font-size: 1.5rem;
    display: table-cell;
    vertical-align: middle;
}

#override-bootstrap .filled {
    cursor: pointer;
    background-color: #F5F5F5;
    border-radius: 5px;
}


/* plan-wksl-03 */

#override-bootstrap .scroll-div {
    width: 100%;
}

#override-bootstrap .scroll-up,
#override-bootstrap .scroll-down {
    font-size: 1rem;
    cursor: pointer;
}


/* plan-head-02, plan-tlbr-02 */

li {
    cursor: pointer;
}

#list {
    height: 100%;
    width: 100%;
}

#change-button {
    margin-top: 2rem;
}


/* plan-tlbr */

#override-bootstrap #tool-bar {
    height: 100%;
    background: #b3f0ff;
    border: 1px solid grey;
}

#override-bootstrap #type-list {
    height: 100%;
    background: #b3f0ff;
    border: 1px solid grey;
}

#override-bootstrap #tools {
    display: flex;
    flex-direction: column;
}


/* plan-tlbr-02 */

#weeklist {
    margin-top: 1rem;
}

.gitem-menu {
    padding: 0;
    background: #fafafa;
}

.gtype {
    border: 1px solid #e9e9e9;
}

#price {
    resize: none;
}


/* plan-tlbr-03 */

#tool-buttons {
    padding-top: 3rem;
}

#override-bootstrap #err-msg-bar {
    padding-top: 15px;
    color: red;
}