extends layout
block content

  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Forms
      // /.col-lg-12nm
    // /.row
    .row
      .col-lg-12
        .panel.panel-default
          .panel-heading
            | New Group
          .panel-body
            .row
              .col-lg-6
                form(role='form' method='POST' action='/groups/create-group')
                  .form-group
                    label Group Name
                    input.form-control(name="name")
                    p.help-block Make it short and concise
                  .form-group
                    label Group Description
                    textarea.form-control(rows='3' name='description')
                  button.btn.btn-default(type='submit') Create Group
                if errors
                  each error, i in errors
                    li.alert.alert-danger #{error.msg}
              // /.col-lg-6 (nested)
              .col-lg-6
                //h3 Group Settings
              // /.col-lg-6 (nested)
            // /.row (nested)
          // /.panel-body
        // /.panel
      // /.col-lg-12
    // /.row
    // /#page-wrapper
