extends layout

block content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Dashboard
      // /.col-lg-12
    // /.row
    .row
      .col-lg-4
        .panel.panel-green
          .panel-heading
            | Green Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
        // /.col-lg-4
      .col-lg-4
        .panel.panel-yellow
          .panel-heading
            | Yellow Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
        // /.col-lg-4
      .col-lg-4
        .panel.panel-red
          .panel-heading
            | Red Panel
          .panel-body
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.
          .panel-footer
            | Panel Footer
          // /.panel-footer
        // /.panel .chat-panel
      // /.col-lg-4
    // /.row
  // /#page-wrapper
