extends layout

block content
  body.bg-dark
    .container
      .card.card-login.mx-auto.mt-5
        .card-header Login
        .card-body
          form(action='/login' method='POST')
            .form-group
              label(for='exampleInputEmail1') Email address
              input#exampleInputEmail1.form-control(name='email' type='email', aria-describedby='emailHelp', placeholder='Enter email')
            .form-group
              label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(name='password' type='password', placeholder='Password')
            .form-group
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  |  Remember Password
            button.btn.btn-primary.btn-block(type='submit') Login
          .text-center
            a.d-block.small.mt-3(href='register.html') Register an Account
            a.d-block.small(href='forgot-password.html') Forgot Password?
        ul.errors.col-md-12
          if errors
            each error, i in errors
              li.alert.alert-danger #{error.msg}
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Core plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
