extends layout

block content
  body.bg-dark
    .container
      .card.card-login.mx-auto.mt-5
        .card-header Login
        .card-body
          form
            .form-group
              label(for='exampleInputEmail1') Email address
              input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
            .form-group
              label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(type='password', placeholder='Password')
            .form-group
              .form-check
                label.form-check-label
                  input.form-check-input(type='checkbox')
                  |  Remember Password
            a.btn.btn-primary.btn-block(href='register') Login
          .text-center
            a.d-block.small.mt-3(href='register.html') Register an Account
            a.d-block.small(href='forgot-password.html') Forgot Password?
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Core plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
