extends layout

block content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header Dashboard
      // /.col-lg-12
    // /.row
    if rows
      each row, i in rows
        .row
          each group, j in row
            .col-lg-4
              .panel.panel-red
                .panel-heading 
                  | #{group.name}
                .panel-body
                  p
                    | #{group.description}
                .panel-footer 
                  | Invite Link: www.localhost:3000/groups/join-group/#{group.group_id}
          // /.panel-footer
        // /.panel .chat-panel
      // /.col-lg-4
    // /.row
  // /#page-wrapper
