doctype html
html(lang='en')
  head
    base(href="/../")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title SB Admin - Start Bootstrap Template
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='css/sb-admin.css', rel='stylesheet')
  body.bg-dark
    .container
      .card.card-register.mx-auto.mt-5
        .card-header Register an Account
        .card-body
          form
            .form-group
              .form-row
                .col-md-6
                  label(for='exampleInputName') First name
                  input#exampleInputName.form-control(name='first_name', type='text', aria-describedby='nameHelp', placeholder='Enter first name')
                .col-md-6
                  label(for='exampleInputLastName') Last name
                  input#exampleInputLastName.form-control(name='last_name', type='text', aria-describedby='nameHelp', placeholder='Enter last name')
            .form-group
              label(for='exampleInputEmail1') Email address
              input#exampleInputEmail1.form-control(name='email', type='email', aria-describedby='emailHelp', placeholder='Enter email')
            .form-group
              .form-row
                .col-md-6
                  label(for='exampleInputPassword1') Password
                  input#exampleInputPassword1.form-control(name='password', type='password', placeholder='Password')
                .col-md-6
                  label(for='exampleConfirmPassword') Confirm password
                  input#exampleConfirmPassword.form-control(name='password2', type='password', placeholder='Confirm password')
            a.btn.btn-primary.btn-block(method='post', action='/register/newuser') Register
          .text-center
            a.d-block.small.mt-3(href='login.html') Login Page
            a.d-block.small(href='forgot-password.html') Forgot Password?
        ul.errors
          if errors
            each error, i in errors
              li.alert.alert-danger #{error.msg}
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Core plugin JavaScript
    script(src='vendor/jquery-easing/jquery.easing.min.js')
